{% extends 'base.html' %}
{% block title %}Privacy
{% endblock title %}

{% block body %}
<div class="container">

<div class="privacy">
<div class="my-2 h1"><center>Privacy Policy</center></div>
<center><div class="my-2 h4">What information is collected?<br>
Our bot does not collect ANY information. Everything you see is returned from the Discord API or is written in the code of the bot.</div></center>
<div class="my-3 h5"><center>Portions of the materials used are trademarks and/or copyrighted works of Fingersoft Ltd. All rights reserved by Fingersoft. This material is not official and is not endorsed by Fingersoft.</center></div>


</div>



</div>
{% endblock body %}