<!doctype html>
<html lang="en">
  <head>
  {% block head %}
  {% endblock head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="icon" href="https://www.mobygames.com/images/covers/l/406495-hill-climb-racing-2-ipad-front-cover.jpg" type="image/png">
    
    <!--External CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Meta stuff for search engines and Discord's link preview -->
        <meta name="og:site_name" content="Hill Climb Racing 2: A Multipurpose Discord Bot">
        <meta name="og:title" content="Hill Climb Racing 2 Discord Bot">
        <meta name="og:description" content="Hill Climb Racing 2 is a multipurpose discord bot with categories like wiki, info, moderation, economy, etc. made by a college student.">
        <meta name="og:image" content="https://www.mobygames.com/images/covers/l/406495-hill-climb-racing-2-ipad-front-cover.jpg">
        <meta name="theme-color" content="#7289da">
      

    <title>{% block title %}
    {% endblock title %} Hill Climb Racing 2 Discord Bot</title>
    <style>
     body {
      color: #fff;
      background-color: #303030;
      font-weight: bold;
    }
    {% block style %}
    {% endblock style %}
     
    .navbar{
      text-align: center;
    }
     
    .logoimg { 
    width: 40px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    };

    
    
    
    </style>
  </head>
  <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
     <img class="logoimg"
        src="https://www.mobygames.com/images/covers/l/406495-hill-climb-racing-2-ipad-front-cover.jpg" src="Logo">
    </a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% block commandsactive %} {% endblock commandsactive %}">
        <a class="nav-link" href="/commands">Commands</a>
      </li>
      <li class="nav-item {% block inviteactive %} {% endblock inviteactive %}">
        <a class="nav-link" href="#">Invite</a>
      </li>
      <li class="nav-item {% block staffactive %} {% endblock staffactive %}">
        <a class="nav-link" href="/staff">Staff</a>
      </li>
      
  </div>
</nav>
        





 {% block body %}
 {% endblock body %}

 <footer class="container-fluid my-0 py-3 text-light">
            <p class="mb-0 text-center">This bot is not associated with Fingersoft in any way.<br>
                © 2019-2020 Abhay
            </p>
            <p class="mb-0 text-center">
              <a href="#">Back to top</a>
            </p>
        
          </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <script>{% block script %}
   {% endblock script %}</script>
  
  </body>
</html>